body{
    background-image: url(Assets/smileWallpaper.png);
}
a{
    text-decoration: none;
}

#title{
    font-family: fantasy;
    font-weight: bold;
    height: 125px;
}
#mainTitle{
    font-size: 37px;
    color: orange;
    text-shadow: 5px 5px 3px black;
    padding: 5px;
    margin-left: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#mainTitle:hover{
    animation-name: rotate;
    animation-duration: 3s;
}
#subTitle{
    margin-left: 13px;
    font-size: 13px;
    text-shadow: 1px 1px 3px orange;
    margin-bottom: 0px;
}
#subTitle:hover{
    color: orange;
    text-shadow: 3px 3px 5px black;
}

#navBar{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-top: 20px;
    margin-left: 75px;
    margin-right: 75px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid black;
    border-radius: 25px;
    background-color: black;
}
#navBarBtn{
    font-family: fantasy;
    font-size: 1em;
    font-weight: bold;
    color: hsl(0, 0%, 0%);
    text-shadow: 3px 3px 3px orange, -3px -3px 3px orange;
}
#navBarBtn:hover{
    color: hsl(0, 0%, 15%);
    font-size: 1.05em;
}
#navBarBtn:active{
    color: hsl(0, 0%, 25%);
    font-size: 1.05em;
}

footer{
    background-color: hsla(0, 0%, 10%, 0.5);
    padding: 5px;
    padding-left: 15px;
    padding-right: 25px;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

@keyframes rotate{
    100%{transform: rotateZ(360deg)}
}