body{
    background-image: url(Assets/smileWallpaper.png);
}
a{
    text-decoration: none;
}

#title{
    font-family: fantasy;
    font-weight: bold;
    height: 125px;
}
#mainTitle{
    font-size: 37px;
    color: orange;
    text-shadow: 5px 5px 3px black;
    padding: 5px;
    margin-left: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#mainTitle:hover{
    animation-name: rotate;
    animation-duration: 3s;
}
#subTitle{
    margin-left: 13px;
    font-size: 13px;
    text-shadow: 1px 1px 3px orange;
    margin-bottom: 0px;
}
#subTitle:hover{
    color: orange;
    text-shadow: 3px 3px 5px black;
}

#navBar{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    border: 5px 20px solid black;
}

@keyframes rotate{
    100%{transform: rotateZ(360deg)}
}